@model DoAnAsp.Areas.ADmin.Models.LoaiSPModelcs

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h1>Create</h1>

<h4>LoaiSPModelcs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAndEdit" asp-route-id="@Model.MaLoaiSP" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLoaiSP"/>
            <div class="form-group">
                <label asp-for="TenLSP" class="control-label"></label>
                <input asp-for="TenLSP" class="form-control" />
                <span asp-validation-for="TenLSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TrangThai" type="hidden" value="1"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
