@model DoAnAsp.Areas.ADmin.Models.KhuyenMaiModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h1>Create</h1>

<h4>KhuyenMaiModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddAndEdit" asp-route-id="@Model.MaKM" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKM" class="control-label"></label>
                <select asp-for="MaKM" class="form-control" asp-items="@(new SelectList(ViewBag.ListSP,"MaSP","TenSP"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenKM" class="control-label"></label>
                <input asp-for="TenKM" class="form-control" />
                <span asp-validation-for="TenKM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTri" class="control-label"></label>
                <input asp-for="GiaTri" class="form-control" />
                <span asp-validation-for="GiaTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBD" class="control-label"></label>
                <input id="ValicationBD" name="ValicationBD" asp-for="NgayBD" class="form-control" />
                <span asp-validation-for="NgayBD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKT" class="control-label"></label>
                <input asp-for="NgayKT" class="form-control" />
                <span asp-validation-for="NgayKT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TrangThai" type="hidden" value="1" />
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" onclick="valication()"/>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    //function valication()
    //{
    //    var today = new Date();

    //    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
    //    var ngaynhapbd = document.getElementById("ValicationBD").value.toString();
        
    //    var dateParse = Date.parse(date);
    //    var ngaylapbdParse = Date.parse(ngaynhapbd);

    //    alert(ngaynhapbd);
    //    alert(ngaylapbdParse);

    //    if (date == ngaynhapbd) {
    //        alert("a");
    //    }
    //    else {
    //        alert("b")
    //    }
    //}
</script>
