@model DoAnAsp.Areas.ADmin.Models.NguoiDungModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
    string IMG = null;
    if (Model.HinhAnh == null)
        IMG = "TS001.jpg";
    else
        IMG = Model.HinhAnh;

}


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddAndEdit" asp-route-id="@Model.MaND" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaND" />
            <div class="form-group">
                <label asp-for="Ho" class="control-label"></label>
                <input asp-for="Ho" class="form-control" />
                <span asp-validation-for="Ho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLot" class="control-label"></label>
                <input asp-for="TenLot" class="form-control" />
                <span asp-validation-for="TenLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenND" class="control-label"></label>
                <input asp-for="TenND" class="form-control" />
                <span asp-validation-for="TenND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>

                <select class="form-control" asp-for="GioiTinh">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
            <div class="custom-file">
                <input accept="*.png|*.jpg|*.jpeg" type="file" class="custom-file-input" id="ful" name="ful" />
                <label class="custom-file-label" for="ful">
                </label>
            </div>
            <div class="form-group">
                <img id="imgPre" src="~/Admin/ImgNgDung/@IMG" alt="noimage" class="img-thumbnail w-25" />
            </div>

            <div class="form-group" hidden>
                <input asp-for="HinhAnh" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Andress" class="control-label"></label>
                <input asp-for="Andress" class="form-control" />
                <span asp-validation-for="Andress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TrangThai" type="hidden" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="MAQuyen" class="control-label"></label>
                <select asp-for="MAQuyen" class="form-control"  asp-items="@(new SelectList(ViewBag.ListPQ,"MAQuyen","TenQuyen"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script>
    $("#ful").change(function () {
        readURL(this, '#imgPre');
    });
</script>
