@model DoAnAsp.Areas.ADmin.Models.SanPhamModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
    string IMG = null;
    if (Model.HinhAnh == null)
        IMG = "TS001.jpg";
    else
        IMG = Model.HinhAnh;

}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddAndEdit" asp-route-id="@Model.MaSP" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSP" />
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>

            <div class="custom-file">
                <input accept="*.png|*.jpg|*.jpeg" type="file" class="custom-file-input" id="ful" name="ful" />
                <label class="custom-file-label" for="ful">
                </label>
            </div>
            <div class="form-group">
                <img id="imgPre" src="~/Admin/ImgPro/@IMG" alt="noimage" class="img-thumbnail w-25" />
            </div>

            <div class="form-group" hidden>
                <input asp-for="HinhAnh" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="ManHinh" class="control-label"></label>
                <input asp-for="ManHinh" class="form-control" />
                <span asp-validation-for="ManHinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HDH" class="control-label"></label>
                <input asp-for="HDH" class="form-control" />
                <span asp-validation-for="HDH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraTrc" class="control-label"></label>
                <input asp-for="CameraTrc" class="form-control" />
                <span asp-validation-for="CameraTrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraSau" class="control-label"></label>
                <input asp-for="CameraSau" class="form-control" />
                <span asp-validation-for="CameraSau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPU" class="control-label"></label>
                <input asp-for="CPU" class="form-control" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROM" class="control-label"></label>
                <input asp-for="ROM" class="form-control" />
                <span asp-validation-for="ROM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pin" class="control-label"></label>
                <input asp-for="Pin" class="form-control" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoSao" class="control-label"></label>
                <input asp-for="SoSao" class="form-control" />
                <span asp-validation-for="SoSao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <textarea asp-for="MoTa" class="form-control editor"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TrangThai" type="hidden" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiSP" class="control-label"></label>
                <select asp-for="MaLoaiSP" class="form-control" asp-items="@(new SelectList(ViewBag.ListLSP,"MaLoaiSP","TenLSP"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $("#ful").change(function () {
        readURL(this, '#imgPre');
    });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {

            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'bulletedList',
                    'numberedList',
                    '|',
                    'indent',
                    'outdent',
                    '|',
                    'imageUpload',
                    'blockQuote',
                    'insertTable',
                    'mediaEmbed',
                    'undo',
                    'redo'
                ]
            },
            language: 'vi',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            },
            licenseKey: '',

        })
        .then(editor => {
            window.editor = editor;








        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: z767u96a1fl3-8o65j7c6blw0');
            console.error(error);
        });
</script>

