@model DoAnAsp.Areas.ADmin.Models.NguoiDungModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/Admin/assets/css/bootstrap.css" />

<link rel="stylesheet" href="~/Admin/assets/vendors/chartjs/Chart.min.css" />

<link rel="stylesheet" href="~/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" href="~/Admin/assets/css/app.css" />
<link rel="shortcut icon" href="~/Admin/assets/images/favicon.svg" type="image/x-icon" />
<link href="~/Admin/assets/css/admin.css" rel="stylesheet" />


<link href="~/Admin/assets/css/login.css" rel="stylesheet" />



<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon"
                alt="User Icon" />*@
        </div>
        <!-- Login Form -->
        <form asp-action="loginIndex" asp-controller="Login" method="post">
            @if (Context.Session.GetString("user") == null)
            {
                @await Html.PartialAsync("/Areas/ADmin/Views/Shared/MessagesPartial.cshtml")
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" asp-for="UserName" id="username" class="fadeIn second"
                       placeholder="login">
                <br />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="PassWord" id="password" class="fadeIn third"
                       placeholder="password">
                <br />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnGET" class="fadeIn fourth" value="Log in">
            </div>

        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <i>Bạn chưa có tài khoản?</i><a asp-controller="SignIn" asp-action="SignInIndex" class="underlineHover">Nhấp vào đây</a>
        </div>
    </div>
</div>

